.my-name nav a {
    text-decoration: none;
    color: white;
}

.name {
    font-size: large;
    font-weight: bold;
}

.detail-card a {
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
}

.mydetails {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.break-card {
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.break-btn {
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: gray;
    color: white;
}

.break-btn:hover {
    background-color: green;
}

.time-duration {
    border: 2px solid gainsboro;
    padding: 10px;
}

.cart {
    position: sticky;
    top: 0;
    padding: 20px 28px;
}

.acivity {
    display: flex;
    justify-content: center;
}

.acivity-btn {
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 110px;
    background-color: blue;
    border-radius: 8px;
}

.acivity-btn:hover {
    background-color: green;
}