.gym-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* margin: 45px; */
    margin: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.profile-container {
    background-color: palevioletred;
    padding: 20px;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .gym-container {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
    }

    .cards-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
}

@media only screen and (max-width: 1080px) {
    .gym-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


.bonus-questions {
    margin: 50px;
}

.bonus-questions p {
    border: 2px solid grey;
    text-indent: 50px;
    text-align: left;

    ;

}