.card {
    width: 300px;
    height: 510px;
    border: 2px solid lavender;
    border-radius: 8px;
    position: relative;
}

.card img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.card-info {
    padding: 0 14px;

}

.card-info p {
    margin-bottom: 0;
    margin-top: 5px;
}

.card-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}

.btn-card {
    width: 100%;
    background: blue;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-card .btn-text {
    margin-right: 5px;
}

.btn-card:hover {
    background-color: green;
}